PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE fish_species (
	id INTEGER NOT NULL, 
	name VARCHAR(100) NOT NULL, 
	scientific_name VARCHAR(100), 
	category VARCHAR(50), 
	description TEXT, 
	care_level VARCHAR(20), 
	temperament VARCHAR(50), 
	max_size VARCHAR(50), 
	min_tank_size VARCHAR(50), 
	water_temp VARCHAR(50), 
	ph_range VARCHAR(50), 
	diet TEXT, 
	image_url VARCHAR(255), 
	created_at DATETIME, 
	updated_at DATETIME, status VARCHAR(20) DEFAULT 'published', views INTEGER DEFAULT 0, habitat TEXT, family VARCHAR(100), 
	PRIMARY KEY (id)
);
CREATE TABLE devices (
	id INTEGER NOT NULL, 
	name VARCHAR(100) NOT NULL, 
	device_code VARCHAR(50) NOT NULL, 
	user_id INTEGER NOT NULL, 
	status VARCHAR(20), 
	robot_status VARCHAR(20), 
	last_online DATETIME, 
	created_at DATETIME, battery_level INTEGER DEFAULT 100, 
	PRIMARY KEY (id), 
	UNIQUE (device_code), 
	FOREIGN KEY(user_id) REFERENCES users (id)
);
INSERT INTO devices VALUES(1,'Akuarium Depan','TMNKN-A1B2-C3D4',4,'active','idle','2025-11-25 14:21:11.618526','2025-11-25 14:21:11.639016',100);
INSERT INTO devices VALUES(2,'Akuarium Belakang','TMNKN-A2B2-C3D4',4,'active','idle','2025-11-25 15:10:50.928381','2025-11-25 15:10:50.942548',100);
INSERT INTO devices VALUES(3,'ONDES','TMNKN-A2B2-C3D5',6,'active','idle','2025-11-28 06:52:29.271887','2025-11-28 06:52:29.276201',100);
CREATE TABLE forum_topics (
	id INTEGER NOT NULL, 
	title VARCHAR(200) NOT NULL, 
	content TEXT NOT NULL, 
	category VARCHAR(50), 
	author_id INTEGER NOT NULL, 
	views INTEGER, 
	is_pinned BOOLEAN, 
	is_locked BOOLEAN, 
	created_at DATETIME, 
	updated_at DATETIME, like_count INTEGER DEFAULT 0, 
	PRIMARY KEY (id), 
	FOREIGN KEY(author_id) REFERENCES users (id)
);
INSERT INTO forum_topics VALUES(1,'topik 1','topik 1 panduan','Panduan',4,0,0,0,'2025-11-23 13:18:22.800161','2025-11-23 13:18:22.800161',0);
INSERT INTO forum_topics VALUES(2,'Topik 2','topik 2 kesehatan aaaaaaaaaaaaa','kesehatan',6,0,0,0,'2025-11-23 17:03:24.807750','2025-11-23 17:03:24.807750',0);
INSERT INTO forum_topics VALUES(3,'Topik 3','topik 3 peralatan aaaaaaaaaaaaaaaaaaaaaaa','peralatan',4,0,0,0,'2025-11-23 17:17:55.238949','2025-11-23 17:17:55.238949',0);
CREATE TABLE orders (
	id INTEGER NOT NULL, 
	order_number VARCHAR(50) NOT NULL, 
	user_id INTEGER NOT NULL, 
	product_name VARCHAR(200) NOT NULL, 
	quantity INTEGER, 
	total_price FLOAT NOT NULL, 
	status VARCHAR(20), 
	shipping_address TEXT, 
	payment_method VARCHAR(50), 
	payment_status VARCHAR(20), 
	notes TEXT, 
	created_at DATETIME, 
	updated_at DATETIME, payment_proof TEXT, 
	PRIMARY KEY (id), 
	UNIQUE (order_number), 
	FOREIGN KEY(user_id) REFERENCES users (id)
);
INSERT INTO orders VALUES(1,'ORD-20251121-00001',3,'Test Robot dari Console',1,5000000.0,'processing','Jl. Test Console No. 999','bank_transfer','pending','Test dari browser console','2025-11-21 09:56:42.951129','2025-11-27 08:09:26.110817',NULL);
INSERT INTO orders VALUES(2,'ORD-20251122-00001',4,'Robot Temanikan - Smart Aquarium Cleaner',13,32500000.0,'delivered','Perum BCE Blok D11 No. 17 RT 001/012, Sukahati, Kec. Cibinong, Kab. Bogor, Jawa Barat, KABUPATEN BOGOR, Jawa Barat 16913','bank_transfer','pending_verification','','2025-11-21 17:37:18.810139','2025-11-27 17:00:01.865354','uploads/payment_proofs\ORD-20251122-00001_20251123_000556_VBG_Monev_2025_1.png');
INSERT INTO orders VALUES(3,'ORD-20251122-00002',4,'Robot Temanikan - Smart Aquarium Cleaner',2,5000000.0,'delivered','Perum Graha Pandak Permai Blok M No.17 RT 07/09, KABUPATEN BOGOR, Jawa Barat 16913','bank_transfer','pending_verification','','2025-11-21 18:29:16.245609','2025-11-22 13:16:33.182495','uploads/payment_proofs\ORD-20251122-00002_20251122_194656_IMG_4401.jpg');
CREATE TABLE water_monitoring (
	id INTEGER NOT NULL, 
	device_id INTEGER NOT NULL, 
	temperature FLOAT, 
	ph_level FLOAT, 
	turbidity FLOAT, 
	oxygen_level FLOAT, 
	ammonia_level FLOAT, 
	timestamp DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(device_id) REFERENCES devices (id)
);
CREATE TABLE cleaning_history (
	id INTEGER NOT NULL, 
	device_id INTEGER NOT NULL, 
	started_at DATETIME NOT NULL, 
	completed_at DATETIME, 
	duration INTEGER, 
	status VARCHAR(20), 
	cleaning_type VARCHAR(50), 
	area_cleaned FLOAT, 
	notes TEXT, 
	PRIMARY KEY (id), 
	FOREIGN KEY(device_id) REFERENCES devices (id)
);
CREATE TABLE disease_detections (
	id INTEGER NOT NULL, 
	device_id INTEGER NOT NULL, 
	disease_name VARCHAR(100) NOT NULL, 
	confidence FLOAT, 
	severity VARCHAR(20), 
	image_url VARCHAR(255), 
	symptoms TEXT, 
	recommended_treatment TEXT, 
	detected_at DATETIME, 
	status VARCHAR(20), 
	notes TEXT, 
	PRIMARY KEY (id), 
	FOREIGN KEY(device_id) REFERENCES devices (id)
);
INSERT INTO disease_detections VALUES(2,1,'Healthy Fish',95.0,'low','https://images.unsplash.com/photo-1720001586147-0bfee9e5dba2?auto=format&fit=crop&w=800&q=80','[]','Ikan dalam kondisi sehat. Lanjutkan perawatan rutin.','2025-11-27 11:48:36.090868','resolved','{"fish_type": "Ikan Mas", "location": "Akuarium Utama", "status_label": "Sehat", "status_color": "#4AD991", "status_bg": "rgba(74, 217, 145, 0.1)", "notes": "Riwayat deteksi otomatis untuk Ikan Mas"}');
CREATE TABLE forum_replies (
	id INTEGER NOT NULL, 
	topic_id INTEGER NOT NULL, 
	author_id INTEGER NOT NULL, 
	content TEXT NOT NULL, 
	created_at DATETIME, 
	updated_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(topic_id) REFERENCES forum_topics (id), 
	FOREIGN KEY(author_id) REFERENCES users (id)
);
INSERT INTO forum_replies VALUES(1,9,6,'lagu? ada di spotify?','2025-11-23 18:49:58.177693','2025-11-23 18:49:58.177693');
INSERT INTO forum_replies VALUES(2,9,4,'hahahahahahah','2025-11-29 13:36:15.334825','2025-11-29 13:36:15.334825');
INSERT INTO forum_replies VALUES(3,9,4,'test 12345678','2025-11-29 20:41:43.892292','2025-11-29 20:41:43.892292');
CREATE TABLE notifications (
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	device_id INTEGER, 
	type VARCHAR(50) NOT NULL, 
	title VARCHAR(200) NOT NULL, 
	message TEXT NOT NULL, 
	is_read BOOLEAN, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id), 
	FOREIGN KEY(device_id) REFERENCES devices (id)
);
INSERT INTO notifications VALUES(1,3,NULL,'info','Status Pesanan Diperbarui','Status pesanan #ORD-20251121-00001 Anda telah diperbarui menjadi "Sedang Diproses".',0,'2025-11-26 12:35:49.523093');
INSERT INTO notifications VALUES(2,4,NULL,'info','Status Pesanan Diperbarui','Status pesanan #ORD-20251122-00001 Anda telah diperbarui menjadi "Sedang Dikirim".',1,'2025-11-27 09:17:18.572354');
INSERT INTO notifications VALUES(3,4,NULL,'info','Profil Diperbarui','Profil akun Anda telah diperbarui oleh Admin.',0,'2025-11-27 09:27:19.936024');
CREATE TABLE IF NOT EXISTS "users" (
	"id"	INTEGER NOT NULL,
	"name"	VARCHAR(100) NOT NULL,
	"email"	VARCHAR(120) NOT NULL,
	"password_hash"	VARCHAR(255) NOT NULL,
	"role"	VARCHAR(20),
	"phone"	VARCHAR(20),
	"address"	TEXT,
	"created_at"	DATETIME,
	"updated_at"	DATETIME,
	"age"	INTEGER,
	"primary_fish_type"	VARCHAR(100), is_active BOOLEAN DEFAULT 1,
	UNIQUE("email"),
	PRIMARY KEY("id")
);
INSERT INTO users VALUES(1,'Super Admin','admin@temanikan.com','$2b$12$0JslnB4lzqaon/u2DpQ.je82T1p6iVqOmwxRPdqAL3Qk52GO9kLte','admin','081290413759',NULL,'2025-11-20 05:01:22.647975','2025-11-30 14:20:33.133869',NULL,NULL,1);
INSERT INTO users VALUES(2,'Ahmad Wijaya','member@temanikan.com','$2b$12$nTeBBiHvM6xUf5Idrzs3VeNIxAkeOAcWZf0cObs1Q8OJ6T2v9u6cW','member',NULL,NULL,'2025-11-20 05:01:23.134284','2025-11-20 05:01:23.134284',NULL,NULL,1);
INSERT INTO users VALUES(3,'Roma Juliana Arios','rjulianaarios@gmail.com','$2b$12$hQJb2ugmnyGvMkBAyt/fC.4hSbVvF03UC.7Qh.EGPRpEAOPUx/r3i','member','081290413759',NULL,'2025-11-20 08:56:49.376190','2025-11-27 09:09:03.637198',NULL,NULL,1);
CREATE TABLE forum_likes (
	id INTEGER NOT NULL, 
	topic_id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	CONSTRAINT unique_topic_like UNIQUE (topic_id, user_id), 
	FOREIGN KEY(topic_id) REFERENCES forum_topics (id), 
	FOREIGN KEY(user_id) REFERENCES users (id)
);
CREATE TABLE forum_topic_likes (
	id INTEGER NOT NULL, 
	topic_id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	CONSTRAINT unique_topic_like UNIQUE (topic_id, user_id), 
	FOREIGN KEY(topic_id) REFERENCES forum_topics (id) ON DELETE CASCADE, 
	FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);
INSERT INTO forum_topic_likes VALUES(1,10,6,'2025-11-23 10:22:25.914124');
INSERT INTO forum_topic_likes VALUES(2,10,4,'2025-11-23 10:54:08.419485');
INSERT INTO forum_topic_likes VALUES(4,9,6,'2025-11-23 19:16:41.725851');
CREATE TABLE forum_reply_likes (
	id INTEGER NOT NULL, 
	reply_id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	CONSTRAINT unique_reply_like UNIQUE (reply_id, user_id), 
	FOREIGN KEY(reply_id) REFERENCES forum_replies (id) ON DELETE CASCADE, 
	FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);
CREATE TABLE forum_reports (
                        id INTEGER PRIMARY KEY AUTOINCREMENT,
                        topic_id INTEGER,
                        reporter_id INTEGER,
                        reason VARCHAR(255) NOT NULL,
                        description TEXT,
                        status VARCHAR(20) DEFAULT 'pending',
                        reviewed_by INTEGER,
                        reviewed_at TIMESTAMP,
                        admin_notes TEXT,
                        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
                        FOREIGN KEY (topic_id) REFERENCES forum_topics(id) ON DELETE SET NULL,
                        FOREIGN KEY (reporter_id) REFERENCES users(id) ON DELETE SET NULL,
                        FOREIGN KEY (reviewed_by) REFERENCES users(id) ON DELETE SET NULL
                    );
INSERT INTO forum_reports VALUES(1,NULL,4,'Konten tidak pantas','anak tekom','approved',1,'2025-11-23 11:08:30.636758','','2025-11-23 10:50:58.378022');
INSERT INTO forum_reports VALUES(2,NULL,6,'Konten tidak pantas','tekom','rejected',1,'2025-11-23 13:17:01.313855','','2025-11-23 11:27:10.531425');
INSERT INTO forum_reports VALUES(3,NULL,6,'Spam',',m ','rejected',1,'2025-11-23 13:16:56.828360','','2025-11-23 11:37:18.261703');
CREATE TABLE chat_history (
	id INTEGER NOT NULL, 
	user_id INTEGER NOT NULL, 
	message TEXT NOT NULL, 
	response TEXT NOT NULL, 
	has_image BOOLEAN, 
	image_url VARCHAR(500), 
	created_at DATETIME, 
	PRIMARY KEY (id), 
	FOREIGN KEY(user_id) REFERENCES users (id)
);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('forum_reports',9);
CREATE INDEX idx_forum_likes_topic 
            ON forum_likes(topic_id)
        ;
CREATE INDEX idx_forum_likes_user 
            ON forum_likes(user_id)
        ;
CREATE INDEX idx_forum_reports_status 
                    ON forum_reports(status)
                ;
CREATE INDEX idx_forum_reports_topic 
                    ON forum_reports(topic_id)
                ;
COMMIT;
